body {
    background-color: #80BD9E;
}

h6 {
    color: white;
}

form {
    font-family: roboto;
    background-color: rgb(255, 255, 255, 0.7);
    width: 500px;
    margin: 150px auto;
    padding: 30px;
    text-align: left;
    color: #2d2d2d;
    box-shadow: 2px 2px 7px #393939;
    font-weight: bold;
}

.container form input {
    border-radius: 5rem;
}

.container form label {
    font-size: 20px;
}

.container form #button {
    margin: 1rem 0rem 1rem 5px;
    border-radius: 100px;
    width: 48%;
    font-family: arial;
    box-shadow: 2px 2px 5px #393939;
    ;
}